main {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

/* #score, */
/* #timer, */
#fps,
#attempts {
  color: rgba(255, 98, 234, 0.89);
}
/* h1 {
 
  color: rgba(255, 98, 234, 0.89);
  font-size: 40px;
  text-decoration: underline 5px;
  animation: zoomup 4s linear infinite;
  animation-delay:calc(200ms*var(--i)) ;
} */

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001e6c;
}

.text span {
  font-size: 60px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  animation: zoomup 3s ease infinite;
  animation-delay: calc(100ms * var(--i));
}

.dot {
  display: block;
}

@keyframes zoomup {
  0%,
  100% {
    color: #ffb703;
    filter: blur(0.5px);
    text-shadow: 0 0 10px #ffb703, 0 0 20px #ffb703, 0 0 30px #ffb703,
      0 0 40px #ffb703, 0 0 50px #ffb703, 0 0 60px #ffb703;
  }

  50% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}

body {
  background-image: url("./img/bg.png");
}
#game {
  display: flex;
  margin: auto;
  border-radius: 10px;
  border: rgb(116, 91, 91) solid 1px;
  box-shadow: rgb(0, 0, 0, 0.5) 0 0 5px;
  background-color: rgba(234, 149, 255, 0.849);
}

.brick {
  fill: rgba(24, 171, 240, 0.87);
  stroke: rgb(3, 108, 156);
  stroke-width: 3px;
}

#platform {
  fill: rgb(148, 106, 247);
  stroke: black;
  stroke-width: 3px;
}

#ball {
  fill: rgb(255, 251, 0);
  stroke: black;
  stroke-width: 3px;
  position: relative;
}

#pauseBtn {
  background-color: #4caf50;
  display: none;
}

#startBtn {
  display: inline;
}

.infoBoard {
  animation: shadowBreathe;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  box-shadow: rgb(0, 0, 0, 0.5) 0 0 30px;
  height: 225px;
  width: 500px;
  /* border: 3px solid rgb(3, 0, 10); */
  background-color: rgba(178, 125, 248, 0.74);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes shadowBreathe {
  0%,
  100% {
    box-shadow: rgb(0, 0, 0, 0.5) 0 0 30px;
    /*  border: 3px solid rgb(0, 0, 0); */
  }
  50% {
    box-shadow: rgb(206, 175, 0) 0 0 20px;
    /* border: 3px solid  rgba(234, 149, 255, 0.849); */
  }
}

.pauseBoard {
  animation: shadowBreathe;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  box-shadow: rgb(0, 0, 0, 0.5) 0 0 30px;
  color: rgb(255, 255, 255);
  display: none;
  height: 150px;
  width: 500px;
  /* border: 3px solid rgb(0, 0, 0); */
  background-color: rgba(178, 125, 248, 0.74);

  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loseBoard {
  animation: shadowBreathe;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  box-shadow: rgb(0, 0, 0, 0.5) 0 0 30px;
  color: rgb(255, 255, 255);
  display: none;
  height: 150px;
  width: 500px;
  /* border: 3px solid rgb(0, 0, 0); */
  background-color: rgba(178, 125, 248, 0.74);

  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winBoard {
  animation: shadowBreathe;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  box-shadow: rgb(0, 0, 0, 0.5) 0 0 30px;
  color: rgb(255, 255, 255);
  display: none;
  height: 150px;
  width: 500px;
  /* border: 3px solid rgb(0, 0, 0); */
  background-color: rgba(178, 125, 248, 0.74);

  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pauseText {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
}

.controls {
  text-align: left;
  margin-left: 33%;
}

.controls-keys {
  color: white;
  margin-top: 5px;
  margin-left: 5px;
}

.infoText {
  color: rgba(247, 247, 247, 0.89);
  font-size: 20px;
  font-weight: bold;
}

/* .pauseText {
  
  color: rgba(255, 98, 234, 0.89);
  font-size: 20px;
  font-weight: bold;
  display: none;
} */

.winText {
  color: rgba(255, 255, 255, 0.89);
  font-size: 20px;
  font-weight: bold;
  display: none;
}

.loseText {
  color: rgba(255, 255, 255, 0.89);
  font-size: 20px;
  font-weight: bold;
  display: none;
}

.score {
  color: aliceblue;
  width: 135px;
  color: rgba(255, 255, 255, 0.89);
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  /* margin-top: 10px; */
  margin-left: 45px;
  padding-right: 85px;
  padding-left: 10px;
  padding-top: 5px;
  border: rgb(116, 91, 91) solid 1px;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(234, 149, 255, 0.849);
}
